@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-size:12pt;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.race-meet {
  font-size:14pt;
}

.race-card {
  padding-bottom:15px;
  display:inline-block;
  min-width:140px;
}

.race-number {
  padding-left:24px;
  font-size:26pt;
  display:inline-block;
  top:-13px;
  position: relative;
  color: rgb(119, 119, 119);
}

.race-date {
  font-size:9pt;
  opacity:60%;
}

.race-countdown-to-go, .race-countdown-to-go-urgent, .race-countdown-since-start {
  padding-left:20px;
  display:inline-block;
  position: relative;
  top:-18px;
  color:blueviolet;
}

.race-countdown-text {
  padding-left:5pt;
  font-size:8pt;
  opacity:60%;
}

.race-countdown-to-go-urgent, .race-countdown-to-go-urgent .race-countdown-text {
  color:red;
}

.race-countdown-since-start, .race-countdown-since-start .race-countdown-text {
  color:green;
}

.category-filter {
  margin-left:40px;
  margin-top:10px;
  padding:5px;
  width:250px;
}
